html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: white !important;
  font-size: 20px !important;
}

*,
body {
  font-family: "Poppins", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.button-light {
  color: white !important;
  background-color: black !important;
}

.button-dark {
  color: black !important;
  background-color: white !important;
}

.panel-light {
  background-color: white !important;
  color: black !important;
}

.panel-dark {
  background-color: black !important;
  color: white !important;
}

/* main {
  display: flex !important;
  flex-direction: column;
  min-height: 100vh;
} */
